* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

:root {
  --dark-background: #1f2937;
  --hero-primary: #f9faf8;
  --hero-secondary: #e5e7eb;
  --button: #3882f6;
}

body {
  min-height: 100vh;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--hero-secondary);
}

#header-logo {
  font-size: 24px;
  font-weight: 900;
  color: var(--hero-primary);
  margin: 0;
}

.header {
  background-color: var(--dark-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 210px;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.content-1 {
  background-color: var(--dark-background);
  display: flex;
  padding: 170px 210px;
  gap: 40px;
  align-items: center;
}

.left-content-1 h1 {
  font-size: 48px;
  color: var(--hero-primary);
  font-weight: 900;
  margin: 0;
  max-width: 400px;
}

.left-content-1 p {
  font-size: 18px;
  color: var(--hero-secondary);
  margin: 5px 0 10px 0;
}

.left-content-1 button {
  background-color: var(--button);
  color: var(--hero-primary);
  border: none;
  border-radius: 6px;
  padding: 10px 30px;
  font-weight: 700;
  font-size: 16px;
}

.left-content-1 {
  flex: 1;
}

.image-placeholder {
  background-color: #6e7479;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hero-primary);
  flex: 1;
  padding: 100px 0;
}

.content-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.content-2 h2 {
  margin: 0;
  font-size: 36px;
  font-weight: 900;
  color: var(--dark-background);
}

.content-2-container {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin: 50px 0;
}

.square-text-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
}

.blue-square-illustration {
  aspect-ratio: 1/1;
  border: var(--button) solid;
  border-radius: 16px;
  width: 100%;
  margin-bottom: 12px;
}

.square-text-group p {
  margin: 0;
  text-align: center;
}

.content-3 {
  background-color: var(--hero-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.content-3 h3 {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: var(--dark-background);
  max-width: 780px;
}

.quote-author {
  display: block;
  text-align: end;
  font-weight: 900;
  font-style: normal;
  font-size: 24px;
}

.call-to-action {
  padding: 100px 210px;
  display: flex;
  justify-content: center;
}

.call-to-action-container {
  background-color: var(--button);
  border-radius: 10px;
  padding: 50px 100px;
  display: flex;
  gap: 100px;
  width: 1000px;
  display: flex;
  align-items: center;
}

.call-to-action-left {
  flex: 1;
  color: var(--hero-primary);
}

.call-to-action-left h4 {
  margin: 0;
  font-size: 24px;
}

.call-to-action-left p {
  margin: 0;
}

.call-to-action-container button {
  background-color: var(--button);
  color: var(--hero-primary);
  border: var(--hero-primary) solid 2px;
  border-radius: 8px;
  height: 35px;
  padding: 0 30px;
}

.footer {
  background-color: var(--dark-background);
  color: var(--hero-secondary);
  margin: 0;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin: 0;
}
